@using Pato.Models
@model Orcamento

@{
    Layout = "/Views/Layout.cshtml";
    ViewBag.Title = "Detalhes Orçamento";
}

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Orcamento/Index">Orçamentos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detalhes do Orçamento</li>
    </ol>
  </div>
</nav>


<ul class="nav justify-content-center">
<div class="col-3">
<div class="alert alert-dark" role="alert" action="Orcamento/Detalhe/@Model.IdOrcamento">
<div align="center">
  <h4><b>@Model.Data</b></h4>
</div>
  <hr>
  <p><h6><b>Valor Líquido:</h6></b> R$@Model.valorLiquido</p>
  <p><h6><b>Valor Bruto:</h6></b> R$@Model.valorBruto</p>
  <p><h6><b>Desconto:</h6></b> @Model.Desconto</p>
  <p><h6><b>Orçado por:</h6></b> <a href=/Cliente/Detalhe/@Model.IdPessoa>@Model.Cliente</p></a>
  <hr>
  <table>
    <tr>
      <th>Produto</th>
      <th>Valor Unit</th>
      <th>Quantidade</th>
    </tr>
  @foreach (var produto in ViewBag.Produtos)
  {
    <tr>
    <td width="40%">@produto.Produto</td>
    <td width="35%">R$@produto.Valor</td>
    <td>@Model.qtd</td>
    </tr>
  }
  </table>
<hr>
  <ul class="nav justify-content-center">
  <button type="button" class="btn btn-block btn-dark bg-dark btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Apagar Orçamento
</button>
</ul>
</div>
</div>
</ul>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Alerta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Você tem certeza que quer atualizar este Orçamento?</p>
      </div>
      <div class="modal-footer">
         <a class="btn btn-block btn-dark bg-dark btn-sm" aria-current="page" href="/Orcamento/Update/@Model.IdOrcamento">Atualizar</a>
         <a class="btn btn-block btn-dark bg-dark btn-sm" aria-current="page" href="/Orcamento/Delete/@Model.IdOrcamento">Apagar</a>
      </div>
    </div>
  </div>
</div>
