@using Pato.Models
@{
    Layout = "/Views/Layout.cshtml";
    ViewBag.Title = "Orçamentos";
}

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Orçamento Filtrado</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
        @foreach(Orcamento o in Model)
        {
           <p><a href="/Orcamento/Filter/@o.IdOrcamento" class="link-dark">@o.IdOrcamento</a></p>
        }
        <hr>
        <p><a href="/Orcamento" class="link-dark">Todos os Orçamentos</a></p>
  </div>
</div>

<nav class="navbar navbar-expand-lg">
</nav>
<ul class="nav justify-content-center">
<ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="/Orcamento" aria-current="page">Inicial</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Orcamento/Create">Cadastrar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Filtrar</a>
        </li>
</ul>
</ul>
<nav class="navbar navbar-expand-lg">
</nav>
<ul class="nav justify-content-center">
    <div class="card border-secondary mb-3">
        <div class="card-body text-secondary">
            <table class="table table-striped">
    <tr>
        <th>Data</th>
        <th>Valor Líquido</th>
        <th>Valor Bruto</th>
        <th>Cliente</th>
        <th>Ações</th>
    </tr>
    <tbody id="myTable">
    @foreach(Orcamento o in Model)
    {
    <tr>
        <td>@o.Data</td>
        <td>@o.valorLiquido.ToString("c")</td>
        <td>@o.valorBruto.ToString("c")</td>
        <td>@o.Cliente</td>
        <td>
            <a href="/ProdutoOrcamento/Create/@o.IdOrcamento">Cadastrar Produto |</a>
            <a href="/Orcamento/Detalhe/@o.IdOrcamento">Detalhes Orçamento |</a>
            <a href="/Orcamento/Delete/@o.IdOrcamento">Apagar |</a>
            <a href="/Orcamento/Update/@o.IdOrcamento">Editar</a>
        </td>
    </tr>
    }
    </tbody>
</table>
        </div>
    </div>
</ul>

</div>
